* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

img {
    width: 100px;
    height: 100px;
    margin: auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container .container_header {
    background-color: #d82e4d;
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-between;
}

.container .container_header p {
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    padding: 22px;
    margin-left: 10px;
}

.btn-add {
    background-color: #449d44;
    width: 160px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-right: 25px;
    border: 1px solid #333;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    /* padding: 10px; */
}

.btn-add:hover {
    background-color: #3a783a;
}

.btn-add .icon-add {
    background-color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    margin-right: 5px;
}

.btn-add .icon-add i {
    color: #449d44;
    font-size: 12px;
    margin-top: 4px;
}

table {
    border-collapse: collapse;
}

th {
    padding: 20px;
}

td {
    text-align: center;
    font-size: 13px;
    height: 45px;
}

tr .des_product {
    width: 25%;
}

td a {
    text-decoration: none;
}

tr td a .icon-edit {
    color: #fec61e;
    margin-right: 12px;
    font-size: 16px;
}

tr td a .icon-delete {
    color: #f45449;
    font-size: 16px;
}

.paging {
    margin-top: 40px;
    text-align: center;
}

.paging a {
    text-decoration: none;
    border-radius: 50%;
    padding: 2px;
    padding-left: 7px;
    padding-right: 7px;
    border: 1px solid;
    margin-left: 5px;
    color: #000;
}

.active {
    color: red !important;
    pointer-events: none;
}

.container .container_footer {
    margin-top: 22px;
    margin-left: 25px;
}

.container_footer a {
    text-decoration: none;
}

.container_footer .btn-backhome {
    cursor: pointer;
    background-color: #286090;
    color: #fff;
    padding: 12px;
    border-radius: 8px;
    font-size: 17px;
    border: none;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-container {
    background: #fff;
    width: 72.5%;
    min-height: 500px;
    /* border: 1px solid #000; */
    border-radius: 5px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #d82e4d;
    border-radius: 5px 5px 0 0;
}

.modal-header p {
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    margin-left: 20px;
}

.modal-header a {
    text-decoration: none;
}

.modal-header i {
    font-size: 20px;
    margin-right: 10px;
    color: #fff;
    margin-top: 5px;
}

.modal-header i:hover {
    color: #000;
}

.modal-body {
    display: flex;
    flex-direction: row;
}

.row1,
.row2,
.row3 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.row1 .row1_col1 {
    display: flex;
    flex-direction: column;
}

.row1 .row1_col2 {
    display: flex;
    flex-direction: column;
}

.row2 .row2_col1 {
    display: flex;
    flex-direction: column;
}

.row2 .row2_col2 {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 128px;
}

.row3 .row3_col1 {
    display: flex;
    flex-direction: column;
}

.row3 .row3_col2 {
    display: flex;
    flex-direction: column;
}

.row4 {
    display: flex;
    flex-direction: column;
}

.modal-label {
    display: block;
    margin-left: 32px;
    margin-top: 10px;
}

.modal-input {
    margin-top: 10px;
    width: 250px;
    height: 30px;
    margin-left: 32px;
}

.modal-textarea {
    margin-top: 10px;
    max-width: 250px;
    margin-left: 32px;
    font-size: 15px;
    padding: 10px;
}

.modal-option {
    margin-top: 10px;
    width: 150px;
    margin-left: 32px;
    height: 30px;
    color: #000;
}

.modal-footer {
    display: flex;
    margin-top: 50px;
    justify-content: space-evenly;
}

#input-cancel {
    margin-left: 30px;
    width: 100px;
    padding: 5px;
    background: #ccc;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

#input-cancel:hover {
    background-color: #7e7676;
}

#input-add {
    padding: 5px;
    width: 110px;
    height: 40px;
    margin-right: 66px;
    background-color: #d82e4d;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
}

#input-add:hover {
    background-color: #b82641;
}

.css-label-img {
    display: block;
    width: 130px;
    background: #d82e4d;
    color: #fff;
    padding: 12px;
    float: left;
    margin: 10px 25px 0 31px;
    border: 5px;
    cursor: pointer;
}


