.new-password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.new-password {
    display: flex;
    justify-content: center;
}

.new-password-text h3 {
    font-size: 22px;
    font-weight: bold;
    margin: 45px 0 20px 0;
    font-family: sans-serif;
}

.new-password-text p {
    margin: 25px 0 20px 0;
    font-family: sans-serif;
}

.new-password-label {
    font-size: 14px;
    font-weight: bold;
}

.new-password-input {
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #e1e1e1;
    padding: 0px 20px;
    width: 600px;
    height: 40px;
    margin: 20px 0;
    font-family: sans-serif;
    font-size: 14px;
}

.new-password-input:focus {
    outline: none;
}

.required {
    color: red;
}

.btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

#submitButton {
    font-size: 18px;
    box-sizing: border-box;
    border-style: hidden;
    background-color: #d82e4d;
    border-radius: 999px;
    height: 45px;
    width: 600px;
    color: white;
    cursor: pointer;
}

.btn-cancel{
    box-sizing: border-box;
    border-style: hidden;
    background-color: #d82e4d;
    border-radius: 999px;
    height: 45px;
    width: 600px;
    cursor: pointer;
    margin-top: 20px;
}

.btn-cancel a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.new-password {
    margin-bottom: 90px;
}

.cancel {
    margin-left: 100px;
    font-size: 18px;
}

.cancel:link {
    color: rgb(167, 163, 163);
}

.cancel:hover {
    text-decoration: none;
}

.container {
    margin-bottom: 90px;
}

@media screen and (max-width: 739px) {
    .new-password-container {
        display: block;
        padding: 10px;
    }

    #submitButton {
        width: 200px
    }

}

.crumbread {
    /* margin: 0px 5px 0 0; */
    font-size: 14px;
    padding-left: 50px;
    background-color: #F6F6F6;
    height: 30px;
    line-height: 30px;
    font-weight: normal;
    color: #999999;
}

.crumbread a {
    text-decoration: none;
    color: #000000;
}

.crumbread a:hover {
    text-decoration : none;
}

.crumbread .current-page {
    color: #999999;
}